dj-database-url==0.4.0
Django==1.9.2
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6
django-simple-captcha==0.5.1
requests==2.10.0
git+https://github.com/euske/pdfminer.git
unidecode==0.04.19
beautifulsoup4==4.4.1
