

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>500: Erro de servidor!</h1>
        <p>Algo deu muito errado!</p>
        <a type="button" class="btn btn-lg btn-info" href="/"><span class="glyphicon glyphicon-pencil"></span> Vote!</a>
        <a type="button" class="btn btn-lg btn-warning" href="/arguments/"><span class="glyphicon glyphicon-comment"></span> Discuta!</a>
        <a type="button" class="btn btn-lg btn-danger" href="/results/"><span class="glyphicon glyphicon-comment"></span> Resultados!</a>
    </div>
</div>
<div class=container>
    <h2>
        Por favor, entre em contato comigo por um dos seguintes canais:
    </h2>
    <li>
        <a href="http://facebook.com/gustavo.maronato">Facebook</a>
    </li>
    <li>
        Telegram, <a href="https://telegram.me/GustavoMaronato">@GustavoMaronato</a>
    </li>
    <li>
        Ou por email: votaunicamp@gmail.com
    </li>

</div>




{% endblock %}