{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



<div class="jumbotron text-center">
    <div class="container">
        <script type="text/javascript" src="/static/jquery.shorten.js"></script>
        <h1>{{ arg.title }}</h1>
        <p>Vamos falar sobre isso!</p>
        <a type="button" class="btn btn-lg btn-danger" href="/"><span class="glyphicon glyphicon-pencil"></span> Votar!</a>
        <a type="button" class="btn btn-lg btn-info" href="/arguments/"><span class="glyphicon glyphicon-th-list"></span> Ver argumentos!</a>
        {% if user.is_authenticated %}
        <a type="button" data-toggle="modal" data-target="#commentModal" class="btn btn-lg btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Comentar!</a>
        {% else %}
        <a type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Comentar!</a>
        {% endif %}
        <a type="button" class="btn btn-lg btn-primary" href="/results/"><span class="glyphicon glyphicon-th-list"></span> Ver Resultados!</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> Atenção!</h3>
            <ul>

                <p><li>Para comentar é necessário uma conta. Faça uma na página de votos ou faça o login.</li></p>

                <p><li>Lembre-se: Seus comentários não são eternos. Você sempre pode apagar eles clicando em 'Você' ali em cima.</li></p>

                <p><li>Esse é um espaço destinado a discussões elevadas e saudáveis. <b>Não</b> serão tolerados comportamentos e
                comentários de cunho preconceituoso ou discriminante. Usuários que assim se portarem terão os comentários apagados e seu direito de postar suspenso.</li></p>

            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">

            <h3><span class="glyphicon glyphicon-flash"></span>   {{arg.title}}</h3>
            <ul>
                <div class="comment">
                    {{arg.text}}
                </div>
                <br>
                <p>Por {{arg.profile.nickname}}</p>

            </ul>

        </div>
        <div class="col-md-6">
            {% if not comments %}
            <p><h2>Vamos tornar isso um diálogo! {% if user.is_authenticated %}
        <a type="button" data-toggle="modal" data-target="#commentModal" class="btn btn-lg btn-success" href="#"> Comente!</a>
        {% else %}
        <a type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-success" href="#"> Comente!</a>
        {% endif %}</h2></p>
            {% else %}
            {% for comment in comments %}
            <ul>
                <div class="comment">
                    {{comment.text}}
                </div>
                <br>
                <p>Por {{comment.author.nickname}}</p>
                <form class="inl" action="/like_comment/" method="POST" id="{{comment.id}}">
                    {% csrf_token %}
                    <button type="submit" name="press" value="{{comment.id}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span> {{comment.likes}}</button>
                </form>
                <form class="inl" action="/dislike_comment/" method="POST" id="{{comment.id}}">
                    {% csrf_token %}
                    <button type="submit" name="press" value="{{comment.id}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> {{comment.dislikes}}</button>
                </form>
            <hr>
            </ul>
            {% endfor %}
            {% endif %}

        </div>
    </div>



            <!-- Modal -->
<div id="commentModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content2">
			<div class="modal-header">
				<h2 id="modal-head" class="modal-title">Comente!</h2>
			</div>
			<div class="modal-body">
                <form action="/submit_comment/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% csrf_token %}
                        <textarea class="form-control" name="text" rows="3" required placeholder="(Eu acho que...)" id="text"></textarea>
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="arg" value="{{ arg.id }}">
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Enviar!</button>
                    </div>
                </form>
                </br>
				Lembre-se: <b>Não</b> serão tolerados comentários preconceitosos, racistas, discriminatórios ou qualquer
                    outro do gênero.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>

	</div>
</div>


    {% if comments %}
    <div class="fixed">
{% if user.is_authenticated %}
        <a type="button" data-toggle="modal" data-target="#commentModal" class="btn btn-lg btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Comentar!</a>
        {% else %}
        <a type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Comentar!</a>
        {% endif %}
</div>
    {% endif %}


{% endblock %}